.mainScreen{
    height: auto;
    border-radius: 7px 7px 0px 0px;
    border-bottom: none;

    h1{
        width: 100%;
        text-align: center;
        border-bottom: 3px solid white;
        padding-bottom: 20px;
    }
}