.tasksContainer{
    height: 300px;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
    overflow-y: scroll;

    .task{
        background-color: gray;
        width: 95%;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 5px;
    }
    .selecionado{
        background-color: rgb(56, 56, 56);
    }
}